<h3 class="bolded-blue" data-i18n='litw-irb2-header'></h3>

<div class="card mb-3 border-light">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./img/researchers1.png" class="img-fluid rounded-start" alt="..." style="max-height: 300px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" data-i18n="litw-irb2-q1"></h5>
                <p class="card-text" data-i18n="litw-irb2-a1-p1"></p>
                <p class="card-text">
                    <span data-i18n="litw-irb2-a1-p2"></span>
                    <span data-i18n="litw-irb2-a1-p2-time-{{ time }}"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 border-light">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" data-i18n="litw-irb2-q2"></h5>
                <p class="card-text" data-i18n="litw-irb2-a2"></p>
                <h5 class="card-title" data-i18n="litw-irb2-q3"></h5>
                <p class="card-text" data-i18n="litw-irb2-a3"></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="./img/sample.png" class="img-fluid rounded-start" alt="..." style="max-height: 300px">
        </div>
    </div>
</div>

<div class="card mb-3 border-light">
    <div class="row g-0">
        <div class="col-md">
            <div class="card-body">
                <h5 class="card-title" data-i18n="litw-irb2-q4"></h5>
                <p class="card-text" data-i18n="litw-irb2-a4-p1"></p>
                <p class="card-text" data-i18n="litw-irb2-a4-p2"></p>
            </div>
        </div>
    </div>
</div>

<form id="consent-form">
	<input type="checkbox" id="agree-to-study" onclick="checkBoxVerification()"/>
	<label for="agree-to-study" data-i18n='litw-irb2-consent'></label>
</form>
<span class="bolded-blue" id="approve-irb" data-i18n='litw-irb-warning'></span>

<script type="text/javascript">
    var checkBoxVerification = function (){
        if($('#agree-to-study').is(':checked')){
            $('#approve-irb').hide();
            $('#btn-next-page').attr('style', 'display:block;');
            $('#btn-next-page')[0].scrollIntoView();
        } else {
            $('#btn-next-page').hide();
            $('#approve-irb').attr('style', 'display:block;');
        }
    }
</script>
